/* header main font*/

.Header{
    font-family: Libre Franklin, serif;
    font-size: 7vw;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 768px){
    .Header {
        text-align: center;
    }
}